{{#section 'title'}}
	Thêm mới danh mục
{{/section}}

{{#if showAlert}}
<div class="alert alert-success">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	Đã thêm vào danh mục mới
</div>
{{/if}}

<form action="" method="POST" role="form">
	<div class="form-group">
		<label for="">Tên danh mục</label>
		<input type="text" class="form-control" id="" name="Name" placeholder="Dưỡng da">
	</div>
    
    <div class="form-group">
		<label for="">Mô tả danh mục</label>
		<input type="text" class="form-control" id="" name="Discription" placeholder="Mô tả danh mục">
	</div>

	<a class="btn btn-default" href="/admin/Category" role="button">
		<span class="glyphicon glyphicon-arrow-left"></span>
		Danh sách danh mục
	</a>
	<button type="submit" class="btn btn-primary">
		<span class="glyphicon glyphicon-check"></span>
		Tạo mới
	</button>
</form>