{{#section 'title'}}
	Xóa danh mục
{{/section}}
{{#with Category}}
<form action="" method="POST" role="form">
	<input type="text" id="" name="ID" value="{{ID}}">	
	<button type="submit" class="btn btn-danger">
		<span class="glyphicon glyphicon-remove"></span>
		Delete
	</button>
</form>
{{/with}}