{{#section 'title'}}
	Chỉnh sửa thông tin sản phẩm
{{/section}}

{{#with Category}}
<form action="" method="POST" role="form">
	<div class="form-group">
		<label for="">#</label>
		<input type="text" class="form-control" id="" name="ID" value="{{ID}}" readonly>
	</div>
	<div class="form-group">
		<label for="">Category Name</label>
		<input type="text" class="form-control" id="" name="Name" value="{{Name}}">
	</div>

	<div class="form-group">
		<label for="">Category Name</label>
		<input type="text" class="form-control" id="" name="Discription" value="{{Discription}}">
	</div>

	<a class="btn btn-default" href="/category" role="button">
		<span class="glyphicon glyphicon-arrow-left"></span>
		View List
	</a>
	<button type="submit" class="btn btn-primary">
		<span class="fa"></span>
		Update
	</button>
</form>
{{/with}}