{{#section 'metaName'}} Quản lý danh mục {{/section}} {{#section 'metaFunction'}} chỉnh sửa {{/section}}

{{#with Category}}
<form action="" method="POST" role="form">
	<div class="form-group">
		<label for="">#</label>
		<input type="text" class="form-control" id="" name="ID" value="{{ID}}" readonly>
	</div>
	<div class="form-group">
		<label for="">Category Name</label>
		<input type="text" class="form-control" id="" name="Name" value="{{Name}}">
	</div>

	<div class="form-group">
		<label for="">Category Name</label>
		<input type="text" class="form-control" id="" name="Discription" value="{{Discription}}">
	</div>

	<a class="btn btn-default" href="/admin/category" role="button">
		<span class="fa fa-arrow-left"></span>
		Danh sách danh mục
	</a>
	<button type="submit" class="btn btn-primary">
		<span class="fa fa-save"></span>
		Cập nhật
	</button>
</form>
{{/with}}