<p>
    The Body Shop Vitamin C Glow Boosting Moisturiser là kem dưỡng sáng da của thương hiệu mỹ phẩm The Body Shop với dung tích
    49ml được mệnh danh là '’kem dưỡng nước cam’’ tuyệt vời dành cho da với thành phần chính được chiết xuất
    từ quả CAMU CAMU chứa hàm lượng Vitamin C cao gấp 60 lần so với trái cam thông thường. Giúp bạn nuôi dưỡng
    làn da trắng sáng và bật trắng bật tone chỉ sau khi sử dụng một hộp.
</p>
<img src="/image/product/2.1.jpg" />
<h2 class="color-purple">
    MÔ TẢ VỀ KEM DƯỠNG DA THE BODY SHOP VITAMIN C GLOW BOOSTING MOISTURISER
</h2>
<p>
    <strong>Công dụng chính:</strong>
    - Tăng cường độ bóng cho làn da bằng cách nhẹ nhàng loại bỏ các vùng da xỉn màu, các tế bào chết, trả lại làn da vẻ đẹp tự
    nhiên, trắng sáng, đầy sức sống ngay tức thì.
    <br> - Tái tạo làn da tươi trẻ xua tan các dấu hiệu mệt mỏi, chống lại các tác nhân gây lão hóa da nhờ công thức bổ sung
    thành phần vitamin C tươi mới, giàu dưỡng chất.
    <br> - Cấp nước, dưỡng ẩm, duy trì và nuôi dưỡng làn mềm mại, căng mọng suốt nhiều giờ mà không gây bí rít, nhờn dính.
</p>
<img src="/image/product/2.2.jpg"/>
<p>
    - Bạn dùng muỗng nhựa (tránh dùng tay sẽ làm kem dễ bị oxi hóa dẫn đến hư hỏng hay giảm tác dụng, biến chất), lấy một lượng vừa đủ tầm khoảng 1 hạt đậu do chắc kem khá đặc sau đó dàn trải đều khắp bề mặt da (lưu ý chỉ lấy lượng vừa đủ, không lấy dư sẽ khiến da không hấp thụ nổi dẫn tới phí kem hay nhờn kem trên da).
<br>
- Bôi kem dưỡng xong, bề mặt da bạn sẽ hơi bóng nhẹ. Đối với da dầu, khoảng 20 phút sau khi sử dụng, chất kem sẽ mờ và thấm sâu vào da, với da khô độ thẩm thấu sẽ nhanh hơn.
<br>
Chú ý: chỉ dùng ngoài da, tránh tiếp xúc với mắt. Không được dùng khi có dấu hiệu dị ứng. bảo quản nơi thoáng mát. 
<br>
Kem dưỡng da mang đến rất nhiều công dụng, vậy thì chần chừ gì nữa mà không đến ngay Beauty Garden để tìm mua cho mình một sản phẩm ngay hôm nay nhỉ? Nhanh chân mua ngay các nàng 
</p>
<img src="/image/product/2.3.jpg"/>