<div class="search-display">
    <form method="POST">
        <div class="row">
            <div class="col-lg-8 form-group">
                <label>Từ khóa tìm kiếm</label>
                <input class="form-control" name="searchString" placeholder="Nhập từ khóa cần tìm" />
            </div>
            <div class="col-lg-4 form-group">
                <label>Tìm kiếm theo</label>
                <select class="form-control" name="searchType">
                    <option value="Name">Tên</option>
                    <option value="Category">Danh mục</option>
                    <option value="Producer">Nhà sản xuất</option>
                </select>
            </div>
        </div>
        <input class="btn btn-seconda" type="submit" value="Tìm kiếm" />
    </form>
</div>
