{{#section 'metaName'}} Quản lý sản phẩm {{/section}} {{#section 'metaFunction'}} Tạo mới {{/section}}
 {{#section 'blogjs'}}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script> {{/section}} 
{{#section 'js'}}
<script>
    $('#productDetail').froalaEditor({
        // Set the file upload URL.
        imageUploadURL: '/test/image_upload',
        imageManagerLoadMethod: "GET",
        imageManagerLoadURL: '/test/load_images',
        imageUploadParams: {
            id: 'my_editor'
        }
    })
</script> {{/section}}
<form action="" method="POST" role="form">
    <div class="form-group">
        <label for="">Tên sản phẩm</label>
        <input type="text" class="form-control" id="" name="Name" placeholder="Tên sản phẩm">
    </div>

    <div class="form-group">
        <label for="">Mô tả sản phẩm</label>
        <input type="text" class="form-control" id="" name="Discription" placeholder="Mô tả sản phẩm">
    </div>
    <div class="row">
        <div class="col-lg-6 form-group">
            <select class="form-control" name="categoryID">
                <option disabled="" selected>--Chọn danh mục--</option>
                {{#each listCategory}}
                    {{#if Status}}
                    <option value="{{ID}}">{{Name}}</option>
                    {{/if}}
                {{/each}}
            </select>
        </div>
        <div class="col-lg-6 form-group">
            <select class="form-control" name="producerID">
                <option disabled="" selected>--Chọn nhà sản xuất--</option>
                {{#each listProducer}}
                    <option value="{{ID}}">{{Name}}</option>
                {{/each}}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="">Link ảnh</label>
        <input type="text" class="form-control" id="" name="Image" placeholder="href...">
    </div>
    <!-- CẬP NHẬT GIÁ -->
    <div class="row">
        <div class="form-group col-lg-6">
            <label for="">Giá </label>
            <input type="number" oninput="FillPromotionPrice(this.value)" class="form-control" id="Price" name="Price" placeholder="100.000đ">
        </div>
        <div class="form-group col-lg-6">
            <label for="">Giá khuyến mãi</label>
            <input type="number" class="form-control" id="PromotionPrice" name="PromotionPrice" placeholder="80.000đ">
        </div>
    </div>
    <div class="form-group">
        <label for="">Chi tiết sản phẩm</label>
        <textarea id="productDetail" type="text" class="form-control" id="" name="Detail" placeholder="allow Html"></textarea>
    </div>

    <a class="btn btn-default" href="/admin/product" role="button">
        <span class="fa fa-arrow-left"></span>
        View list
    </a>
    <button type="submit" class="btn btn-primary">
        <span class="fa fa-save"></span>
        Tạo mới
    </button>
</form>