{{#with Blog}}
<div class="row">
    <div class="col-lg-9 col-md-9 col-sm-12">
        <h1 class="color-purple">{{Tittle}}</h1>
        <p class="color-gray" style="font-size:13px; font-style:italic;">
            {{Description}}
        </p>
        <hr>
        {{{BodyContent}}}
    </div>
    <div class="col-lg-3 col-md-3 col-sm-12">
        
    </div>
</div>
{{/with}}