{{#section 'metaName'}} Quản lý danh mục bài viết{{/section}} {{#section 'metaFunction'}} Thêm mới {{/section}}
<form method="POST">

    <!--Tên danh mục bài viết-->
    <div class="form-group">
        <label>Tên danh mục</label>
        <input class="form-control" name="Name" value="" />
    </div>

    <div class="form-group">
        <label>Mô tả của danh mục</label>
        <input class="form-control" name="Description" value="" />
    </div>

    <div class="form-group">
        <label>Ghi chú</label>
        <input class="form-control" name="Note" />
    </div>

    <a class="btn btn-default" href="/admin/blog_category" role="button">
		<span class="fa fa-arrow-left"></span>
		Danh sách danh mục
	</a>
	<button type="submit" class="btn btn-primary">
		<span class="fa fa-save"></span>
		Chỉnh sửa
	</button>
</form>