<form action="POST">
    {{#with blog_category}}
    <div class="form-group">
        <label>ID</label>
        <input class="form-control" value="{{ID}}" readonly />
    </div>
    <div class="form-group">
        <label>Tên danh mục</label>
        <input class="form-control" value="{{Name}}">
    </div>
    <button type="submit" class="btn btn-danger">
        <span class="glyphicon glyphicon-remove"></span>
        Xóa danh mục
    </button>
    {{/with}}
</form>